
<h1><%= @task.title %></h1>
<%= link_to "Edit this task", edit_task_path(@task)%>
<div class="d-flex p-2 bg-light">
<p><%= @task.details %></p>
</div>
<div class="d-flex p-2 border-bottom">
<%= @task.completed? ? 'This task is completed' : 'This task is not completed yet' %>
</div>
<br>
<%= link_to "Back to list", tasks_path %>
<br>

<%= link_to "Delete",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
